<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Connection</title>
</head>
<body>
    <div align="Left">
        <h1>Add Connection</h1>
        <form action="#" th:action="@{/add_connection}" method="post" th:object="${connection}">
            <label>Source:</label>
            <select>
                <option th:each="s : ${componentSource}" th:value="${s}" th:text="${s}"/>
            </select><br/>

            <label>Target:</label>
            <select>
                <option th:each="l : ${componentTarget}" th:value="${l}" th:text="${l}"/>
            </select><br/>

            <label>Connection Type:</label>
            <select>
                <option th:each="p : ${connectionType}" th:value="${p}" th:text="${p}" />
            </select><br/>

            <br/>

            <button type="submit">Add Connection</button>
        </form>
    </div>
</body>
</html>