<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="environmentRestrictionModal" aria-hidden="true" class="modal fade" id="environmentRestrictionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exception</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" onclick=returnEnvironmentRestriction()
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Exception: can't create a Component named "Environment" !
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" onclick=returnEnvironmentRestriction()
                        type="button">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="namelessRestrictionModal" aria-hidden="true" class="modal fade" id="namelessRestrictionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exception</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" onclick=returnNamelessRestriction()
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Exception: can't create a Component without a name !
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" onclick=returnNamelessRestriction()
                        type="button">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="orphanRestrictionModal" aria-hidden="true" class="modal fade" id="orphanRestrictionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exception</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" onclick=returnOrphanRestriction()
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Exception: a Component can't be child of his child !
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" onclick=returnOrphanRestriction() type="button">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>