<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link th:href="@{assets/jquery-treetable/jquery.treetable.css}" th:rel="stylesheet"/>
    <link th:href="@{assets/jquery-treetable/jquery.treetable.theme.default.css}" th:rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
<div align="Left" style="margin-left: 2em; color:black;">
    <h1 style="margin-top: 0.5cm;">MicroSTAMP Step 2</h1>
    <div sec:authorize="isAuthenticated()">
        Welcome <span sec:authentication="name">Username</span>
        <span sec:authentication="principal.authorities">Roles</span>
        <span hidden id="user_id" sec:authentication="principal.UserId"></span>

        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>

    </div>
    <div align="Left" style="margin-top:2%">
        <div>
            <h2>Control Structures</h2>
            <div class="container" style="margin-left: 2%; margin-top: -3%;">
                <div th:switch="${controlStructures.size}">
                    <h5 th:case='0'>No control structures yet!</h5>
                    <div th:case="*">
                        <div class="row">
                            <div class="col mt-5">
                                <table class="table" id="csTable">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br/>
            <button class="btn btn-primary" data-target="#addControlStructureModal" data-toggle="modal" type="button">
                Add Control Structure
            </button>
            <br/>
        </div>
        <br/>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="addControlStructureModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Control Structure</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="control_structure-name">Name:</label>
                        <input class="form-control" id="control_structure-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=addControlStructure() type="button">Add Control Structure
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="editControlStructureModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Control Structure</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" for="control_structure-edit-name">Name:</label>
                        <input class="form-control" id="control_structure-edit-name" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=editControlStructure() type="button">Edit Control Structure
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="confirmControlStructureDeleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Control Structure</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the following Control Structure ?
                <br/><br/>
                <span id="control_structure_delete_name"></span>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick=deleteControlStructure() type="button">Delete Control
                    Structure
                </button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" class="modal fade" id="namelessRestrictionModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exception</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" onclick=returnNamelessRestriction()
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Exception: can't create a Control Structure without a name !
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" onclick=returnNamelessRestriction()
                        type="button">Close
                </button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript">

    var controlStructureSelected;
    var controlStructureToBeDeleted;

    var actual_modal; // 0 -> addControlStructure 1 -> editControlStructure //control the restrictions return

    $(window).ready(function () {
        var user_id = document.getElementById("user_id").innerText;
        $.ajax({
            "type": 'get',
            "url": '/controlstructures/user/' + user_id,
            "dataType": "json",
            "success": function (data) {
                $.each(data, function (idx, obj) {
                    $("#csTable").append("<tr data-tt-id=\"" + obj.id + "\" data-tt-parent-id=\"" + obj.father + "\"><td>" + obj.name + "</td><td><button style='cursor: pointer; border-radius: 5px;' data-toggle='modal' data-target='#editControlStructureModal' onclick = loadEditControlStructure(this.id) type='button' id=\"" + obj.id + "\"><span class='fa fa-pencil' aria-hidden='true'></span></button><button style='cursor: pointer; border-radius: 5px;' data-toggle='modal' data-target='#confirmControlStructureDeleteModal' type='button' id=\"" + obj.id + "\" onclick = loadControlStructureToBeDeleted(this.id)><span class='fa fa-trash'></span></button><button style='cursor: pointer; border-radius: 5px;' type='button' id=\"" + obj.id + "\" onclick=location.href=\"" + obj.id + "\"><span class='fa fa-search' aria-hidden='true'></span></button></td></tr>");
                });
                $("#csTable").treetable({
                    expandable: true,
                    initialState: "expanded",
                    clickableNodeNames: true,
                    indent: 30
                });
            }
        });
    });

    function addControlStructure() {
        var control_structure = {
            name: $("#control_structure-name").val(),
            user_id: document.getElementById("user_id").innerText,
        }

        $('#target').html('sending..');

        if($("#control_structure-name").val() == ""){
            $("#addControlStructureModal").modal("hide");
            actual_modal = 0;
            $("#namelessRestrictionModal").modal("show");
        }else{
            $.ajax({
                url: '/controlstructures',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                data: JSON.stringify(control_structure)
            });
        }
    }

    function loadEditControlStructure(id){
        controlStructureSelected = id;
        $.ajax({
        url: '/controlstructures/'+ id,
        type: 'get',
        success: function (data) {
            $("#control_structure-edit-name").val(data.name);
        },
    });
    }

    function editControlStructure() {
        var control_structure = {
            name: $("#control_structure-edit-name").val(),
        }

        $('#target').html('sending..');

        if($("#control_structure-edit-name").val() == ""){
            $("#editControlStructureModal").modal("hide");
            actual_modal = 1;
            $("#namelessRestrictionModal").modal("show");
        }else{
            $.ajax({
                url: '/controlstructures/' + controlStructureSelected,
                type: 'put',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    location.reload();
                },
                data: JSON.stringify(control_structure)
            });
        }
    }

    function loadControlStructureToBeDeleted(id){
        controlStructureToBeDeleted = id;
        $.ajax({
            url: '/controlstructures/'+ id,
            type: 'get',
            success: function (data) {
                 $("#control_structure_delete_name").text(data.name);
            },
        });
    }

    function deleteControlStructure(){
        $.ajax({
            url: '/controlstructures/'+ controlStructureToBeDeleted,
            type: 'delete',
            success: function (data) {
                location.reload();
            },
        });
    }

    function returnNamelessRestriction(){
        $("#namelessRestrictionModal").modal("hide");
        if(actual_modal == 0)
            $("#addControlStructureModal").modal("show");
        else
            $("#editControlStructureModal").modal("show");
    }

</script>

<script src="/assets/jquery-treetable/jquery.treetable.js"></script>
</body>
</html>